<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.iu.boot3.board.BoardVO" alias="BoardVO"/>
  		<typeAlias type="com.iu.boot3.board.BoardFilesVO" alias="BoardFilesVO"/>
  		<typeAlias type="com.iu.boot3.util.Pager" alias="Pager"/>
  		<typeAlias type="com.iu.boot3.member.MemberVO" alias="MemberVO"/>
  		<typeAlias type="com.iu.boot3.member.MemberFilesVO" alias="MemberFilesVO"/>
  		<typeAlias type="com.iu.boot3.product.ProductVO" alias="ProductVO"/>
		<typeAlias type="com.iu.boot3.product.ProductFilesVO" alias="ProductFilesVO"/>
  	</typeAliases>
  
  </configuration>