<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.iu.boot3.member.MemberMapper">
 	
 	<select id="getFindId" parameterType="MemberVO" resultType="MemberVO">
 		SELECT ID  
 		FROM MEMBER
 		WHERE EMAIL=#{email}
 	</select>
 	
 	<select id="getFileDetail" parameterType="MemberVO" resultType="MemberFilesVO">
 		SELECT * FROM MEMBERFILES WHERE ID=#{id} 
 	</select>
 
 	<insert id="setFileAdd" parameterType="MemberFilesVO">
 		INSERT INTO MEMBERFILES (FILENUM, ID, FILENAME, ORINAME)
 		VALUES(NULL, #{id}, #{fileName}, #{oriName})
 	</insert>
 
 
	<delete id="setDelete" parameterType="MemberVO">
		DELETE FROM MEMBER WHERE ID=#{id}
	</delete>
	<update id="setUpdate" parameterType="MemberVO">
		UPDATE MEMBER SET 
			NAME=#{name},
			EMAIL=#{email},
			PHONE=#{phone}
		WHERE ID = #{id} 
	</update>	
	<select id="getDetail" parameterType="MemberVO" resultMap="getDetailResult">
		SELECT M.NAME, M.EMAIL, M.PHONE, F.* 
		FROM MEMBER M
			 LEFT JOIN
			 MEMBERFILES F
			 USING (ID)
		WHERE ID=#{id}
		
	</select>	
	
	<resultMap type="MemberVO" id="getDetailResult">
		<result column="name" property="name"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<association property="memberFilesVO" javaType="MemberFilesVO">
			<id column="fileNum" property="fileNum"/>
			<result column="id" property="id"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</association>
		
	</resultMap>
	
	<select id="getLogin" parameterType="MemberVO" resultMap="getLoginResult">
		<!-- SELECT ID, NAME FROM MEMBER WHERE ID=#{id} and PW=#{pw} -->
		SELECT ID, M.NAME, R.ROLENAME
		FROM 
				MEMBER M
				INNER JOIN
				MEMBERROLE MR
				USING(ID)
				INNER JOIN
				ROLE R
				USING(ROLEID)
		WHERE ID=#{id} and M.PW=#{pw}
		
	</select>	
	
	<resultMap type="MemberVO" id="getLoginResult">
		<id column="ID" property="id"/>
		<result column="NAME" property="name"/>
		<collection property="roleVOs" javaType="List" ofType="RoleVO">
			<result column="ROLENAME" property="roleName"/>
		</collection>
	</resultMap>
	
	<insert id="setRoleAdd" parameterType="Map">
		INSERT INTO MEMBERROLE (ID, ROLEID)
		VALUES (#{id}, (SELECT ROLEID FROM ROLE WHERE ROLENAME=#{roleName}) )
	</insert>
	
	<insert id="setAdd" parameterType="MemberVO">
		INSERT INTO MEMBER (ID, PW, NAME, EMAIL, PHONE)
		VALUES(#{id}, #{pw}, #{name}, #{email}, #{phone})
	</insert> 
 
 </mapper>  