<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.iu.boot3.member.MemberMapper">
    
    <insert id="addFile" parameterType="MemberFilesVO">
    INSERT INTO MEMBERFILES (FILENUM, ID, FILENAME, ORINAME)
	VALUES (NULL, #{id}, #{fileName}, #{oriName})
    </insert>
    
    <insert id="join" parameterType="MemberVO">
	INSERT INTO MEMBER (ID, PW, NAME, EMAIL, PHONE)
	VALUES (#{id}, #{pw}, #{name}, #{email}, #{phone} )
    </insert>
    
    <select id="login" parameterType="MemberVO" resultType="MemberVO">    
    SELECT ID, NAME FROM MEMBER
	WHERE ID=#{id} AND PW=#{pw}
    </select>
    
    <select id="mypage" parameterType="MemberVO" resultMap="mypageResult">
	 SELECT M.NAME, M.EMAIL, M.PHONE, F.*
    FROM MEMBER M
    	LEFT JOIN
    	MEMBERFILES F
    	USING (ID)
    	WHERE ID=#{id}
	</select>
	
	<resultMap type="MemberVO" id="mypageResult">
		<id column="id" property="id"/> <!-- PK -->
		<result column="name" property="name"/>
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
		<association property="memberFilesVO" javaType="com.iu.boot3.member.MemberFilesVO">
			<id column="fileNum" property="fileNum"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</association>
	</resultMap>
    
    <update id="update" parameterType="MemberVO">
    UPDATE MEMBER SET NAME=#{name}, EMAIL=#{email}, PHONE=#{phone}
    WHEHE ID = #{id}
    </update>
    
    <delete id="delete" parameterType="MemberVO">
    DELETE FROM MEMBER WHERE ID=#{id}
    </delete>
    
    </mapper>