<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.iu.boot3.product.ProductMapper">
    
    <insert id="add" parameterType="ProductVO" useGeneratedKeys="true" keyProperty="productNum">
    INSERT INTO PRODUCT(PRODUCTNUM, PRODUCTNAME, PRODUCTPRICE, PRODUCTCOUNT, PRODUCTDETAIL)
    VALUES (#{productNum}, #{productName}, #{productPrice}, #{productCount}, #{productDetail})
    
    </insert>
    
    <insert id="FileAdd" parameterType="ProductFilesVO">
    INSERT INTO PRODUCTFILES(FILENUM, PRODUCTNUM, FILENAME, ORINAME)
	VALUES (NULL, #{productNum}, #{fileName}, #{oriName})
    </insert>
    
    <select id="list" parameterType="Pager" resultType="ProductVO">
    SELECT * FROM PRODUCT
    WHERE PRODUCTNUM > 0 
    ORDER BY PRODUCTNUM DESC
    LIMIT #{startRow}, #{perPage}   
    </select>
   
    </mapper>